*{
    padding:0%;
    margin: 0%;
   
}

@media screen and (max-width:500px) {

   body{
     background-image: url("https://img.freepik.com/free-vector/textured-background-design_1117-109.jpg?w=740&t=st=1705129635~exp=1705130235~hmac=cdcd5b4b9c8a9d56fd81a49e8ef3fac61ce7fe59bc645f923ff37a93b4d7df15") ;
     background-color: #08083d ;
   }

   h1{
         text-decoration:underline dotted ;
         font-family: 'Salsa', cursive;
         font-style: italic;
         font-size: 23px;
         text-shadow: rgb(229, 255, 0) 2pX 0 3px;
   }


   .sydn{
    border: 3px dotted yellow;
    border-radius: 50%;
    width: 55px;
    height: 50px;
    float: right;
    background-image: url("https://cdn.britannica.com/48/222648-050-F4D0A2D8/President-of-India-A-P-J-Abdul-Kalam-2007.jpg");
    background-size: 50px 50px;
    margin-top: -52px;
   }

   

   p{
    color: rgb(169, 169, 66);
    font-style: italic;
   }

   .try{
    display: none;
   }

   .footer{
    text-align: end;
    font-style: italic;
    color: blue;
   }

   u{
    text-decoration: underline green;
   }

}


@media screen and (min-width:400px) {

    body{
        /* background-color: blue;*/
         background-image:linear-gradient(rgba(15, 15, 193, 0.5), rgba(87, 10, 91, 0.151)),url("https://cdn.britannica.com/48/222648-050-F4D0A2D8/President-of-India-A-P-J-Abdul-Kalam-2007.jpg");
         background-position: center;
         color:black;
       
     }
     
     
     .try{
     display: flex;
     flex-direction: row;
     justify-content:center;
     }
     
     h1{
         z-index: 4;
         text-decoration:underline dotted ;
         font-family: 'Salsa', cursive;
         font-style: italic;
         font-size: 55px;
         color: pink;
         text-shadow: #FC0 2pX 0 3px;
        
     
        
     }
     
     p{
         font-weight: 900;
         font-size:  24px;
         font-style: italic;
         color: blanchedalmond;
     }

     u{
        text-decoration: none;
     }
     
     .pic{
         display:inline-block;
         height:100px;
         width:100px;
        
       
         
     }
     
     #him{
         height: 100px;
         width: 120px;
         background-image:url("https://cdn.britannica.com/48/222648-050-F4D0A2D8/President-of-India-A-P-J-Abdul-Kalam-2007.jpg");
         background-position: cover;
         background-size: 100px 120px;
     
     }
     
     
     
     #air{
         height: 100px;
         width: 120px;
         background-image: url("https://media.licdn.com/dms/image/D4D12AQGigEEP7kvn0g/article-cover_image-shrink_720_1280/0/1684673835830?e=2147483647&v=beta&t=FYN7WS2gH-ILSSxEu5YuS6zKwh78EX0BJlDBZzttl5U");
         background-position:cover;
         background-size: 100px 120px;
     }
     
     #missile{
         height: 100px;
         width: 120px;
         background-image: url("https://thehillstimes.in/wp-content/uploads/2022/08/4.jpg");
         background-position: auto;
         background-size: 100px 120px;
     
     }
     
     
     #std{
         height: 100px;
         width: 120px;
         background-image: url("https://cdn.educba.com/academy/wp-content/uploads/2023/12/APJ-Abdul-Kalam.jpg");
         background-position: center;
         background-size: 100px 120px;
     
     }
     
     
     #bharat{
         height:100px;
         width:120px;
         background-image:url("https://pbs.twimg.com/media/CLPNFMpUMAA_eiO?format=jpg&name=4096x4096");
         background-position: center;
         background-size: 100px 120px;
     }
     
     #rocket{
         height:100px;
         width:120px;
         background-image:url("https://en-media.thebetterindia.com/uploads/2019/08/isro380.jpg");
         background-position: center;
         background-size: 100px 120px;
     }
     
     
     #rocky{
         height:100px;
         width:120px;
         background-image:url("https://nss.org/wp-content/uploads/isdc-kalam-nss-award.jpg");
         background-position: center;
         background-size: 100px 120px;
     }
     
     #abdulla{
         height:100px;
         width:120px;
         background-image:url("https://mpower360.files.wordpress.com/2015/07/abdul_kalam04-e1438077015706.jpg");
         background-position: center;
         background-size: 100px 120px;
     }
     
     #avul{
         height:100px;
         width:120px;
         background-image:url("https://www.iflkuwait.com/images/Frontlinersarticles/AbdulKalam/Kilo01.jpg");
         background-position: center;
         background-size: 100px 120px;
     }
     
     #avul2{
         height:100px;
         width:120px;
         background-image:url("https://images.thequint.com/thequint%2F2019-11%2Fdce0fe8c-47f8-4250-92f9-21f660364187%2Fhero_image_1.jpg?rect=0%2C0%2C2000%2C1125");
         background-position: center;
         background-size: 100px 120px;
     }
      .footer{
    text-align: end;
    font-style: italic;
    color: blue;
   }
}


a{
    color:blanchedalmond;
}
